@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    background: #0b1215;
    z-index: 1000;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 81.33%;
    margin: 25px auto;
}

.header .navbar .logo {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.header .navbar #menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar li {
    list-style-type: none;
    margin: 0 10px;
}

.header .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.header .navbar a:hover,
header .navbar a.active {
    color: #02ecec;
}

.header .navbar button {
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    margin-left: 30px;
    background: #00ffbb;
    font-weight: 500;
} 

.header .navbar #bar {
    display: none;
    color: white;
    font-size: 30px;
}

.header .navbar #close {
    display: none;
    color: white;
    font-size: 30px;
}

.banner {
    background-color: #0b1215;
    position: relative;
    padding: 60px 9%;
}

.banner .text-content {
    margin-top: 8%;
    max-width: 37%;
    color: #ffffff;
}

.banner .text-content .greeting {
    font-size: 12px;
    text-transform: uppercase;
}

.banner .text-content .name {
    font-size: 50px;
    margin: 20px 0;
    font-weight: 800;
}

.banner .text-content .skill {
    color: #00ffbb;
}

.banner .text-content .about-me {
    font-size: 14px;
    margin: 20px 0 30px 0;
    line-height: 20px;
    /* font-weight: 500; */
}

.banner .text-content .links {
    display: flex;
    align-items: center;
}

.banner .text-content .links button {
    padding: 10px 26px;
    border-radius: 8px;
    border: none;
    background: #00ffbb;
    font-weight: 800;
}

.banner .text-content .links .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin-left: 20px;
}

.banner .text-content .links a {
    text-decoration: none;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.banner .banner-img {
    position: absolute;
    top: 15%;
    right: 0;
    height: 400px;
}

.box1 {
    top: 70%;
    left: 5%;
    position: absolute;
    height: 30px;
    width: 30px;
    background: #156f75;
}
.box2 {
    top: 40%;
    left: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    background: #6f652c;
}

.box3 {
    border-radius: 50%;
    bottom: 5%;
    right: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    background: #64203c;
}

/* Tech Stack */

.banner2 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 3% 9%;
}

.banner2 .tech-stack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.banner2 .tech-stack .stack {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
}

/* Projects */

.projects {
    /* background-color: #0b1215; */
    padding: 70px 9%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects .heading {
    text-align: center;
    margin-bottom: 20px;
}

.projects .heading h1 {
    font-weight: 800;
    margin-bottom: 10px;
}
.projects .heading p {
    font-size: 13px;
}

.projects .project {
    background-color: #e9e9e9;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 3% 20px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.projects .project:hover {
    transform: scale(0.9);
}

.projects .project img {
    height: 300px;
    
}

.projects .project .text-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-radius: 0 16px 16px 0;
}

.projects .project .text-content h1 {
    font-weight: 800;
    margin-bottom: 10px;
}

.projects .project .text-content p {
    margin: 15px 0;
}

.projects .project .text-content button {
    padding: 10px 24px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    background: #0b1215;
    color: #fff;
    font-weight: 800;
    font-size: 13px;
}

/* Footer */

footer {
    background: #0b1215;
    width: 100%;
    height: 50vh;
}


@media (max-width: 1020px) {
    .header .navbar #menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 80px 30px;
        background: #0b1215;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0,15);
        transition: all 0.3s ease;
    }

    .header .navbar #menu.active {
        right: 0;
    }

    .header .navbar #bar {
        display: flex;
    }
    .header .navbar #close {
        position: absolute;
        top: 30px;
        display: flex;
    }

    .header .navbar li {
        margin: 10px 0;
    }
    
    .header .navbar button {
        border-radius: 8px;
        margin: 10px 0;
    }

    .banner .banner-img {
        display: none;
    }

    .banner .text-content {
        max-width: 100%;
    }
    .box2 {
        top: 25%;
    }
    .box1 {
        left: 2%;
    }

    .projects .project {
        flex-direction: column;
    }
    .projects .project img {
        height: 200px;
    }
}



/* Mobile Devices */

@media (max-width: 470px) {
    .header .navbar .logo {
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }

    .banner .text-content {
        margin-top: 15%;
    }

    .banner .text-content .greeting {
        font-size: 8px;
    }

    .banner .text-content .name {
        font-size: 30px;
    }

    .banner .text-content .skill {
        font-size: 14px;
    }

    .banner .text-content .about-me {
        font-size: 11px;
    }

    .banner .text-content .links {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .banner .text-content .links .social {
        margin: 25px 0 0 0;
        width: 100%;
    }

    .box1 {
        display: none;
    }
    
    .box2 {
        display: none;
    }

    .box3 {
        display: none;
    }

    .projects .project {
        padding: 0;
        text-align: center;
    }

    .projects .project .text-content p {
        font-size: 11px;
    }
    .projects .project .text-content h1 {
        font-size: 20px;
    }
    .projects .project .text-content h4 {
        font-size: 11px;
    }

}

